input {
  width: 100%;
}

output {
  display: flex;
  flex-direction: column;
}

body * {
  border: 1px solid black;
}

#rem {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

#output {
  display: flex;
}

button {
  border: 1px solid black;
  height: 24.5px;
}